.navbar {
    background-color: rgba(0, 128, 0, 0.74)
}

#quemsomos {
    background-color: rgba(0, 119, 255, 0.404);
    padding-bottom: 50px;
    

}

.margin {
    padding-bottom: 50px;

}

#parceiros {
    background-color: teal;
}
.autor {
    background-color: black;
    color: white;
    padding-top: 60px ;
}